# Introduction to Python

1. [Introduction](#intro)
2. [Why Python?](#ypython)
3. [Simple Expressions](#exp)
4. [Variables](#vari)
5. [Basics of DataTypes](#datatypes)
    * [int](#int)
    * [float](#float)
    * [bool](#bool)
6. [Data Types Conversions](#dataconv)
7. [Operators](#operators)
    * [Arithmetic Operators](#aop)
    * [Relational Operators](#rop)
    * [Logical Operators](#lop)

## 1. Introduction

---

- Python is a high-level programming language, with its design philosophy primarily focused on code readability, reusability, and writing modular code
- Python was developed by Guido van Rossum in the late eighties at the ‘National Research Institute for Mathematics and Computer Science’ at Netherlands

## 2. Why Python?

---

- It has the feature of dynamic typing, where the data type of the variable is determined only during runtime
- Syntax used is simple to understand and code
- Supported by a large community
- Contains many libraries that can be used for data science tasks, on top of some standard libraries written in Python

## 3.Features of Python

---



*   1.Easy to Learn and Readable

*   2.Interpreted Language
*   3.Dynamically Typed


*   4.Extensive Standard Library

*   5.Cross-Platform
*   6.Large Community & Open Source

### Application of Python



*   Web Development

*  Data Analysis
*  Machine Learning & Artificial Intelligence
*  Automation / Scripting
* Game Development
* Desktop Applications


* Cloud Computing & DevOps

###  Simple Expressions

In [ ]:
6 + 1

In [ ]:
10 + 10

In [ ]:
2 * 10

In [ ]:
2 * 10 - 1 + 4

In [ ]:
2 * (10 - 1)

### Rules for Variable Nomenclature

---

## **2. Variables in Python**  

A variable in Python is a named reference to a value stored in memory. It serves as a container for data, allowing values to be stored, modified, and used throughout a program.  

#### **Variable Nomenclature:**  
- Must begin with a letter or an underscore (`_`).  
- Can only contain letters, digits, and underscores.  
- Cannot be a reserved Python keyword (Check reserved keywords using `keyword.kwlist`).  
- Case-sensitive (e.g., `AuditData` and `auditdata` are different variables).  
- Avoid spaces in variable names; use underscores for readability (e.g., `total_revenue`).

In [ ]:
import keyword
keyword.kwlist

In [ ]:
tot_balls_per_over = 6
print(tot_balls_per_over)

In [ ]:
my_first_name= 'Navin'
my_second_name = "Akash"
print(my_first_name)
print(my_second_name)
print(my_first_name,my_second_name)

In [ ]:
player1 = 'Virat Kohli'
print(player1)

In [ ]:
1player = 'Virat Kohli'

In [ ]:
$player = "Virat"

In [ ]:
_player1 = "Virat"
print(_player1)

In [ ]:
player_name = 'Virat Kohli'
print(player_name)

In [ ]:
num_fours = 5
num_sixes = 10
tot_boundaries_runs = (num_fours * 4) + (num_sixes * 6)

In [ ]:
print(tot_boundaries_runs)

## 5.Basic data types

---

| Basic data types | Description | Values | Representation |
|------------------|-------------|--------|----------------|
| Boolean | represents two values of logic and associated with conditional statements | True and False | bool |
| Integer | positive and negative whole numbers | set of all integers, Z | int |
| Complex | contains real and imaginary part ($a + jb$) | set of complex numbers | complex |
| Float | real numbers | floating point numbers $ ∈ \mathbb{R}$ | float |
| String | Sequence of characters (digits, alphabets, and special characters) | Multiple characters enclosed in a pair of quotations | str

### The datatype of an object can be identified using the ``` type()``` method

---

### Syntax

```
type(<object>)
```

#### **Integer**

In [ ]:
batsman_score = 50
type(batsman_score)

#### **Float**

In [ ]:
bowler_economy = 6.4

print(type(bowler_economy))

#### **Bool**

True = 1 and False = 0

In [ ]:
True + True

In [ ]:
False - True

In [ ]:
qualified = False
print(qualified)
type(qualified)

## 6. Data type conversion

---
We can use built-in functions like int(), float() and complex() to convert between types explicitly.

1. float $→$ int $⇒$ ```int(<float-object>)```
2. int $→$ float $⇒$ ```float(<int-object>)```

In [ ]:
a = int(input("Enter the Mark 1: "))
b= int(input("Enter the Mark 2: "))
Total = a + b
print(Total)

In [ ]:
type(a)

### Conversion of int data type to float:

In [ ]:
score = 27

print(score,type(score))

score_float = float(score)

print(score_float,type(score_float))

In [ ]:
team_score = "270"
type(team_score)
player_name = "Virat"

### Conversion of float data type to int:

In [ ]:
batting_average = 34.7

print(batting_average,type(batting_average))

batting_average = int(batting_average)

print(batting_average,type(batting_average))

### Conversion of int data type to string:

In [ ]:
overs = 6

print(overs,type(overs))
overs_str = str(overs)


print(overs_str,type(overs_str))

* If the value enclosed within the quotes is a string then conversions will not be possible.

In [ ]:
name = "10"
print(type(name))
name_int = int(name)
print(type(name_int))

## 7. Operators

![image.png]()

### Arithmetic Operators

---

| Symbol | Operation |
|--------|-----------|
| () | Parentheses |
| ** | Exponent |
| *, /, %, // | Multiplication, Division, Remainder, Integer Division |
| +, - | Addition, Subtraction |

- **Note: Assignment operator is denoted as `=`**

### Addition(+):
* In cricket, addition can be performed to calculate team's overall score.

Example:

In [ ]:
#Calculate the teams total score
player_1 = 14
player_2 = 27
player_3 = 22

total = player_1+player_2+player_3
print(total)

### Subtraction(-):

In cricket, subtraction can be performed to calculate by how many runs a team won.

In [ ]:
#Calculate the winning runs
team_a_score = 257
team_b_score = 200

diff = team_a_score - team_b_score
print(diff)

### Multiplication(*):

In [ ]:
#Calculate the number of balls bowled
overs = 7
balls_per_over = 6

deliveries = overs * balls_per_over
print(deliveries)

### Exponent(**):

To compute ${3^2}$

In [ ]:
result = 3 ** 2
print(result)

In [ ]:
result = 15 //2

### Relational operators

- Tests numerical equalities/inequalities between different values and returns a boolean

- All operators have same precedence

---

| Symbol | Operation |
|--------|-----------|
| < | strictly less than |
| <= | less than or equal to |
| > | strictly greater than |
| >= | greater than or equal to |
| == | equal to |
| != | not equal to |

### Equal to(==):

In [ ]:
#Comparing batsmen scores
batsman1_score = 89
batsman2_score = 90

print(batsman1_score == batsman2_score)

### Not Equal to(!=):

In [ ]:
#Checking the teams scores
team1_score = 230
team2_score = 245

print(team1_score != team2_score)

### Greater than or Less than (>/<):

In [ ]:
# Comparing the runs scored by two teams
team1_score = 280
team2_score = 245

print(team1_score >= team2_score)

### Greater than or equal to(>=)

In [ ]:
#Comparing bowling averages of two bowlers
bowler1_average = 24.50
bowler2_average = 26.75

print(bowler1_average <= bowler2_average)

* Relational operators are useful in conditional statements to evaluate whether the condition holds good

### Logical operators

- Used when operands are conditional statements and returns boolean value
- In Python, logical operators are designed to work with scalars or boolean
values

---

| Symbol | Operation |
|--------|-----------|
| or | Logical OR |
| and | Logical AND |
| not | Logical NOT |

### AND Operator(and):

The AND operator returns True only if both the conditions are True.

In [ ]:
a = 10
b= 30

a >=30 or b<=50

In [ ]:
# Checking if a batsman scored a century and the team won the match
batsman_score = 120
is_team_won = True

if batsman_score >= 100 and is_team_won:
    print("The batsman scored a century and the team won the match.")
else:
    print("Either the batsman didn't score a century or the team lost the match.")

### OR Operator(or):

* The OR operator returns True if one of the condition is True

In [ ]:
# Checking if a team won the match or the match ended in a tie
is_team_won = True
is_match_tied = False

if is_team_won or is_match_tied:
    print("The team won the match or the match ended in a tie.")
else:
    print("The team lost the match.")

* The NOT operator is used to negate a boolean value

### NOT Operators

In [ ]:
x = 10
print(not (x == 10))   # False, because x == 10 is True → NOT True = False
print(not (x > 20))

In [ ]:
is_sunny = True
print(not is_sunny)

### Simple Assignment Operators

In [ ]:
x = 10   # Assigns the value 10 to variable x
print(x)

In [ ]:
x = 5
x += 3   # Same as x = x + 3
print(x)

In [ ]:
y = 4
y *= 2   # Same as y = y * 2
print(y)

### Membership Operators

in → returns True if a value exists in a sequence (string, list, tuple, set, dictionary keys).

not in → returns True if a value does not exist in a sequence

In [ ]:
Student ['Peter','Apple']

print("apple" in fruits)      # True, because "apple" is in the list

In [ ]:
text = "Hello World"

print("Hello" in text)     # True, substring exists
print("bye" not in text)

In [ ]:
import pandas

### Identity operators

is → returns True if two variables point to the same object in memory.

is not → returns True if they do not point to the same object.

In [ ]:
a = [1,2,3]
b = a

In [ ]:
a is b

In [ ]:
pin = 1234

In [ ]:
type(pin)

In [ ]:
pin=1234
Pin_enter =input('Enter Your Pin : ')
if pin==int(Pin_enter):
  print('Correct Pin')
else:
  print('Incorrect')

Enter Your Pin : 7890
Incorrect

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)   # True → because values are equal
print(a is b)

c = [4, 5, 6]
d = c   # d points to the same object as c

print(c is d)       # True, both refer to the same list in memory
print(c is not d)

PEMDAS

P → Parentheses

E → Exponents

M → Multiplication

D → Division

A → Addition

S → Subtraction

In [ ]:
result = (2 + 3) * 4
print(result)

In [ ]:
result = 2 + 3 ** 2
print(result)

In [ ]:
result = 10 / 2 * 3
print(result)   # 15.0, because 10/2 = 5 → 5*3

In [ ]:
result = 10 - 2 + 5
print(result)

In [ ]:
result = 10 - (2 + 3) * 2 ** 2
print(result)

### User Input in Python
The input() function in Python allows users to enter data dynamically during program execution, making the program more interactive instead of relying on hardcoded values.

In [ ]:
# Prompting the user for input
auditor_name = input("How many Audithave completed this month")

# Displaying the entered name
print("No.of Audit:", auditor_name)